{% extends "layout.html" %}
{% block title %}Index {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}">

<style>
  /* Background dim overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: none; /* Initially hidden */
    z-index: 10; /* Make sure it appears below the modal but above the page content */
}

</style>

{% endblock %}

{% block content %}
<div class="h-screen">

  <!-- Classification Section -->
  <div id="image-classification" class="h-min-screen mt-20 mb-20">
    <div class=" max-w-[30rem] mx-auto px-2 mb-20 text-center">
      <h2 class="mb-3 text-4xl text-white">Image Classification</h2>
      <p class="mb-5 text-gray-400">Barkley can readily be used to identify the following barks: Roystonea regia,
        Iinstia bijuga, Mangifera indica, Tabebuia and Pterocarpus indicus from a single image.</p>
    </div>

    {%include 'partials/classification.html' %}
    
    <!-- Spinner HTML -->
    <div id="loadingSpinner" class="hidden">
      <div></div>
    </div>
  </div>

<!-- Parent container to group h2 and gallery -->
<div class="mx-auto px-4">
  <!-- Gallery Header -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-semibold">
      &#8595; Select an example image
    </h2>
    {% include 'partials/guide.html' %}
  </div>

  <!-- Gallery Container -->
  <div id="gallery-container" class="flex flex-wrap justify-start mt-4">
    <div id="overlay"></div> <!-- This will be the dimming background -->
    {% for image in image_files %}
      <form method="post" action="{{ url_for('predict_image', image_name=image) }}" class="relative flex justify-center" style="flex: auto; width: 200px; margin: .5vw;">
        <button type="submit" style="background: none; border: none; padding: 0; width: 100%;">
          <div class="image-container w-full flex flex-col items-center overflow-hidden">
            <img src="{{ url_for('static', filename='images/' + image) }}" 
              alt="{{ image }}" 
              class="object-cover w-full h-auto"
              style="width: 100%; height: auto;" />
          </div>
        </button>
      </form>
    {% endfor %}
  </div>
</div>

</div>


<script type='text/javascript' src="{{ url_for('static', filename='js/upload.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/lazy_loading.js') }}"></script>

<script>
  const helpButton = document.getElementById('helpButton');
  const helpDialog = document.getElementById('helpDialog');


  helpButton.addEventListener('click', () => {
    overlay.style.display = "block";
    document.body.style.overflow = 'hidden';  // Disable page scrolling
    helpDialog.showModal();
  });

  helpDialog.addEventListener('show', () => {
    document.body.style.overflow = 'hidden';  // Disable page scrolling
  });

  helpDialog.addEventListener('close', () => {
    overlay.style.display = "none";
    document.body.style.overflow = '';  // Enable page scrolling when the modal is closed
  });

</script>


{% endblock %}